body {
    background-color: #E8E8E8;
}

#vision-board {
    width: 1200px;
    height: 850px;
    overflow: auto;
    background: url(../img/background.png);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin: 50px auto;
}   

.block {
    float: left;
    width: 400px;
    box-sizing: border-box;
}

.small-block {
    height: 210px;
    padding: 20px 40px;
}

.large-block {
    height: 430px;
    padding: 70px 40px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.title {
    color: white;
    font-size: 30px;
}

.marker {
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
}

.light-bg {
    background: #FFFFFF;
}

.dark-bg {
    background: #3B3B3B;
    color:#FFFFFF;
}

.highlight {
    font-size: 20px;
    background: #FFF44F;
    padding: 5px 10px;
} 

strong {
    font-size: 38px;
    text-transform: none;
    line-height: 38px;
} 